.cabecalho {
    height: 180px;
}

.cabecalho-menu {
    flex-direction: column;
    padding: 20px 0;
}
.cabecalho-menu-item {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.conteudo-secundario-paragrafo {
    flex-direction: column;
    align-items: center;
    text-align: center;
}